<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>Hello World form @Server.MachineName</p>
    @{ 
        string login = Request["login"];
        string password = Request["pass"];
        <p>login: @login</p>
        <p>password: @password</p>
    }
</body>
</html>
