<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <!-- wczytujemy zawartosc strony index.html -->
    @Html.Raw(File.ReadAllText(Server.MapPath("~/index.html")))
    <p>Hello World form @Server.MachineName</p>
    @{ 
        string login = Request["login"];
        string password = Request["pass"];
        <p>login: @login</p>
        <p>password: @password</p>
    }
</body>
</html>
